# For testing
pytest
pytest-html
pytest-asyncio
pytest-timeout
aiofiles
aioresponses>=0.7.6

# For build
pip-tools
build
twine
pywin32-ctypes ;  platform_system == 'Windows'
colorama ;  platform_system == 'Windows'